.note__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
  background-color: #f5f5f5;
  margin-inline: auto;
}

.note__form textarea {
  min-height: 28rem;
}

.note__form button {
  background-color: black;
  color: white;
}
